@import url( base.css);



header{
	width: 100%;
	height: 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #e5e5e5;
	
}
._headtop{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: center;
	background: #f2f2f2;
}
._headtopcenter{
	width: 1100px;
	height: 100%;
	font-size: 10px;
	color: #0068b3;
	text-align: right;
	line-height: 20px;
	
}
._headcenter{
	width: 1000px;
	height: 100px;
	display: flex;
	justify-content: space-between;
}
._headleft{
	width: auto;
	height: 100px;
	display: flex;
	align-items: center;
}

._hdleftimg{
	width: 65px;
	height: 47px;
		
}
._leftname{
	width: 344px;
	height: 100%;
	padding: 27px 12px;
	color: #0068b3;
	display: flex;
	flex-wrap: wrap;
}

._leftname h1{
	font-size: 24px;

}
._leftname h2{
	font-size: 10px;

}
._headright{
	width: 544px;
	height: 100%;
	
}
._headright ul{
	height: 100%;
	font-size: 14px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
._headright ul li a{
	color: #757575;
}
._headright ul li:nth-child(2) a{
	color: #0068b3;
}


/*banner开始-------------------------------------------------------*/




/*底部开始---------------------*/
footer{
	width: 100%;
	height: 224px;
	
}
._foottop{
	width: 100%;
	height: 194px;
	background: #0068b3;
	display: flex;
	justify-content: center;
}
._footbottom{
	width: 100%;
	height: 30px;
	background: #3386c2;
}
._fttpcenter{
	width:1000px;
	height: 100%;
	display: flex;
	
}
._fttpleft{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}
._lftimg{
	width: 107px;
	height: 106px;
	
}
._lfttext{
	width: 420px;
	height: 106px;
	font-size: 12px;
	color: white;
}
._lfttext ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}
._lfttext ul li{
	width: 100%;
	color: white;
	padding-left: 26px;
	
}
._fttpright{
	width: 50%;
	height: 100%;
	text-align: right;
	padding: 48px 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
._fttpright h5{
	width: 100%;
	color: #e5e5e5;
	font-size: 12px;
}

._fttprighticon{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
._ico{
	width:36px;
	height: 36px;
	background: #e5e5e5;
	color: #0068b3;
	font-size: 20px;
	border-radius: 50%;
	margin-left: 18px;
	text-align: center;
	
}
._ico i{
	font-size: 20px;
	line-height: 39px;
	
}
body{
	background: #e5e5e5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
/*头部下方-------------------------------------------------------------------------------------*/
section{
	width: 100%;
	height: 260px;
	background: #0068b3;
	overflow: hidden;
}
main{
	width: 1000px;
	height: auto;
	background: #e5e5e5;
	display: flex;
	justify-content: center;
}
.mainCenter{
	width: 1200px;
	height: auto;
	
	
}
.maintop{
	width: 100%;
	height: 54px;
	display: flex;
}
.maintop .left{
	width: calc(100%/4*1);
	height: 100%;
	display: flex;
	align-items: center;
}
.maintop .left h4{
	font-size: 14px;
	color: #4a4a4a;
	margin-left: 4px;
}
.maintop .left h4:nth-of-type(2){
	font-size: 14px;
	color: #377cba;
	
}
.sanjiaoxin{
	width: 0;
	height: 0;
	border: 0;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-left: 6px solid #4a4a4a;
	border-right: 6px solid transparent;
}
.maintop .right{
	width: calc(100%/4*3);
	height: 100%;
	display: flex;
	align-items: center;
}
.maintop .right h1{
	font-size: 24px;
	color: #4a4a4a;
}
.maintop .right h5{
	font-size: 10px;
	margin-top: 14px;
	margin-left: 18px;
	color: #7c7c7c;
}
.bigbox{
	width: 100%;
	height: auto;
	padding-bottom: 54px;
	display: flex;
}
.bigbox .left{
	width: calc(100%/4);
	height: 303px;
}
.bigbox .left ul{
	width: 100%;
	height: 100%;
	position: relative;
}
.lfligs{
	width: 90%;
	height: calc(100%/4);
	text-align: center;
	background: #dadada;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	
}
.lfligs:hover {
	background: #0068b3;
	
}
.lfligs:hover .lfth2 {
	
	color: white;
	
}
.lfligs:hover .lfth3 {
	
	color: white;
	
}

.lfligs .lfth2{
	width: 100%;
	font-size: 20px;
	color: #4a4a4a;
}
.lfligs .lfth3{
	width: 100%;
	font-size: 10px;
	color: #7c7c7c;
}
.bigbox .right{
	width: calc(100% /4 *3);
	height: 900px;
	
	
	position: relative;
	
}

.bigbox .left ul li:first-child .rtboxjs h2{
	border-bottom: 2px solid #0068b3;
	padding-bottom: 16px;
	font-size: 24px;
}
.bigbox .left ul li:first-child .rtboxjs p{
	padding: 60px 10px 0 10px;
	text-indent: 2em;
	text-align: left;
	font-size: 16px;
	
}
.bigbox .left ul li a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
}

.rtboxjs {
	width: 750px;
	height: 900px;
	position: absolute;
	left: 250px;
	top:0;
	padding: 60px 42px;
	background: #ffffff;
	z-index: 2;
	display: none;
	
	
}
.bigbox .left ul li:nth-child(2) .rtboxjs h3{
	
	font-size: 18px;
	margin-bottom: 40px;
	text-align: left;
	
	
}
.bigbox .left ul li:nth-child(2) .rtboxjs h3 i{
	font-size: 35px;
	color: #ff6700;
	margin-right: 10px;
	
}

.bigbox .left ul li :nth-child(2).ditu{
	width: 100%;
	height: 480px;
}

.topimg{
	width: 670px;
	height: 300px;
}
.rtboxjs .gyuljs{
	margin-top: 52px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.rtboxjs .gyuljs .gylijs{
	width: 210px;
	height: auto;
}
.rtboxjs .gyuljs .gylijs .liimg{
	width: 210px;
	height: 260px;
}
.rtboxjs .gyuljs .gylijs .gyh2js{
	margin-top: 16px;
	color: #858585;
	font-size: 24px;
	text-align: center;
	border: 0;
	padding: 0;
}
.rtboxjs .gyuljs .gylijs .gypjs{
	margin-top: 15px;
	font-size: 14px;
	color: #4a4a4a;
	text-indent: 2em;
	text-align: justify;
	line-height: 24px;
	padding: 0;
}